@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #212b66;
    position: relative;
    padding: 20px;

}

.info-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

.wapper-hora {
    display: flex;
    gap: 2px;
}

.wpper {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardH {
    border: solid 2px #0043e4;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.wpper-sinal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qtminas {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.card {
    height: 45px;
    width: 60px;
    position: relative;
}

.valido-ate {
    font-weight: bold;
    font-size: 18px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.front {
    background: linear-gradient(45deg, #0043e4 35%, rgb(21, 93, 145) 100%);
    border-radius: 5px;
    border: solid 1px #00467c;
    box-shadow: 0px 3px 0px 0px rgba(10, 30, 56, 1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.back {

    background: linear-gradient(315deg, rgba(236, 120, 12, 1) 9%, rgba(249, 181, 25, 1) 61%);
    border-radius: 5px;
    border: solid 1px #ed9a0f;
    box-shadow: 0px 3px 0px 0px #bf5c0c;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #05a532;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carregamento{
    animation: is-rotating 1s infinite;
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-top-color: #05a532;
    height: 20px;
    width: 20px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

.wapperBtn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.geraSinal{
    margin-right: 50px;
}

img {
    width: 20px;
}

/* ---------------------------------- responsividade-------------------------------------------------- */

 @media screen and (max-width: 600px) {
    .main{
        width: 100%;
        background: #000;
    }

    .card {
        height: 25px;
        width: 30px;
        position: relative;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
    }

    img{
        width: 12px;
    }

    .wapperBtn{
        margin-top: 20px;
    }

    button{
        height: 30px;
        width: 70px;
        font-size: 10px;
    }

    .geraSinal{
        margin-right: 15px;
    }

    .info-play{
        height: inherit;
    }

    .wpper{
        width: 100%;
        justify-content: space-around;
    }

}

/*@media screen and (max-width: 1250px) {
    .info-play {
        margin-right: 50px;
    }

}

@media screen and (max-width: 400px) {

    .wapperBtn {
        display: flex;
        justify-content: center;
        width: 200px;
        gap: 10px;
        margin-top: 15px;
    }

    .geraSinal{
        margin-right: 15px;
    }

    button {

        height: 30px;
        width: 70px;
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 10px;
    }

    .info-play {
        margin-right: 0;
    }

} */